.footer {
  background-color: #1d1d1d;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text h2 {
    margin-bottom: 10px;
  }

  &__social {
    margin-top: $p-2;
    a {
      margin-right: $p-5;
      font-size: 20px;
      color: #8fb9b9;
    }
  }

  nav ul {
    display: flex;
    align-items: center;
  }
  nav li:not(:first-child) {
    margin-left: $p-9;
  }

  @include whenMedium {
    &__inner {
      flex-direction: column;
      text-align: center;
    }
    nav {
      order: 1;
      margin-bottom: 40px;
    }
    &__text {
      order: 2;
    }
  }
}
