.header {
  background-color: darkslategrey;
  min-height: 500px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(
      to top left,
      rgba(darkslateblue, 0.8),
      rgba(darkslategray, 0.8)
    ),
    url(../images/hero.jpeg);
  background-size: cover;
  background-position: center;

  &--full {
    min-height: 100vh;
  }
  &__inner {
    margin-top: 62px;
    text-shadow: 0 2px 18px rgba(#000, 0.4);
  }
  h1 {
    color: $color-text-7;
    margin-bottom: $p-3;
  }
  p {
    font-size: $font-2;
    color: $color-text-6;
  }
  .cta {
    margin-top: $p-9;
  }

  @media screen and (max-width: 800px) {
    &__inner {
      margin-top: 54px;
    }
  }
}
