.top-bar {
  background-color: darkslategray;
  text-align: center;
  padding: $p-0 0;
  display: none;

  a {
    color: white;
    font-family: $font-header;
    transition: color .3s;
    svg { 
      margin-right: $p-4;
    }

    &:hover {
      color: lighten($color-accent, 15%);
    }
  }
  
}

.main-nav {
  position: fixed;
  position: sticky;
  right: 0; top: 0; left: 0;
  z-index: 100;
  background: white;
  box-shadow: 0 1px 10px 0 rgba($color-text-2, .1);
  border-bottom: 2px solid $color-accent;

  &__inner {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 69px;
  }

  &__logo {
    display: block;
    max-width: 180px;
    height: 100%;
  }

  #menu-label,
  #menu-toggle {
    display: none;
  }

  #menu-label {
    position: relative;
    z-index: 1000;
    cursor: pointer;
  }

  #menu-toggle {
    position: absolute;
    left: -3000px;
  }

  #menu-toggle:checked ~ .desktop-nav {
    display: flex;
  }

  #menu-toggle:checked ~ #menu-label {
    color: white;
  }


  @media screen and (max-width: 800px) {
    &__inner {
      height: 54px;
    }
    #menu-label,
    #menu-toggle {
      display: block;
    }

  }

}

//---------- desktop nav --------------//
.desktop-nav {
  display: flex;
  align-items: center;

  li {
    font-size: $font-0;
    list-style: none;
    padding: 0 18px;
    &:last-of-type { padding-right: 0; }
  }

  a {
    letter-spacing: 1px;
    text-decoration: none;
    color: $color-text-2;
    transition: color .3s;
  }
  a.cta {
    transition: background-color .3s;
    color: white;
  }

  @media screen and (max-width: 800px) {
    
    background-color: darkslategray;
    position: absolute;
    top:0;right:0;bottom:0;left:0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;

    li {
      padding: 0;
      margin-bottom: 10px;
      &:not(last-child) a {
        padding: 10px;
      }
    }

    a {
      color: white;
      font-size: $font-2;
      display: inline-block;
    }
    
  }
} // end of desktop nav
