.services {

  &__title {
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    flex: 1;
    flex-basis: 48%;
    margin-right: 2%;
    margin-top: $p-11;
    display: flex;

    &:nth-of-type(2n) { margin-right: 0; }

    .icon {
      width: 100%;

      background-color: rgba(darkslategray, .2);
      border-color: darkslategray;
      svg { color: darkslategray; }
    }

    h3 {
      margin-bottom: $p-2;
    }
  }

  @include whenMedium {
    &__title {
      max-width: 560px;
      text-align: left;
      margin-bottom: $p-11;
    }
    &__list {
      flex-direction: column;
      max-width: 560px;
    }
    &__item {
      margin-top: $p-9;
      margin-right: 0;
      // &:nth-of-type(3) { margin-bottom: $p-9; }
    }
  }
}