@import url('https://fonts.googleapis.com/css?family=Mukta:600|Noto+Sans+KR:700|Nunito+Sans:700|Roboto');

// colors
$color-text-0: #000000;
$color-text-1: #222222;
$color-text-2: #444444;
$color-text-3: #666666;
$color-text-4: #888888;
$color-text-5: #BBBBBB;
$color-text-6: #DDDDDD;
$color-text-7: #FFFFFF;

$color-bg-0: #FFFFFF;
$color-bg-1: #f2f1f3;

$color-accent: #e06d28;


// fonts
$font-header: 'Mukta', sans-serif;
// $font-header: 'Noto Sans KR', sans-serif;
// $font-header: 'Nunito Sans', sans-serif;
$font-body: 'Roboto', sans-serif;

$font-0: 1.6rem;
$font-1: 1.7rem;
$font-2: 2.1rem;
$font-3: 2.6rem;
$font-4: 3.1rem;
$font-5: 3.7rem;
$font-6: 4.4rem;


// spacing
$p-0: .5rem;
$p-1: .8rem;
$p-2: 1rem;
$p-3: 1.2rem;
$p-4: 1.5rem;
$p-5: 1.8rem;
$p-6: 2.1rem;
$p-7: 2.6rem;
$p-8: 3.1rem;
$p-9: 4.4rem;
$p-10: 5.3rem;
$p-11: 6.4rem;