.intro {
  display: flex;
  align-items: center;

  &__video-container {
    flex: 1;
    box-shadow: 0px 0px 4px 0px rgba(darkslategrey, 0.4),
      0px 3px 19px -8px #85959b;
    iframe {
      display: block;
      width: 100%;
      min-height: 300px;
    }
  }

  &__text {
    flex: 1;
    margin-left: $p-8;
    p {
      margin-bottom: $p-4;
      max-width: 560px;
    }

    li {
      margin-top: $p-6;
      display: flex;
      align-items: baseline;
    }

    svg {
      color: lighten(darkslategray, 10%);
      margin-right: $p-3;
      position: relative;
      top: 3px;
    }
  }

  @include whenMedium {
    flex-direction: column;
    max-width: 600px;

    &__video-container {
      order: 2;
      width: 100%;
    }
    &__text {
      order: 1;
      margin-left: 0;
      margin-bottom: $p-10;
    }
  }
}
